<section id="map_div_0" class="map-container"></section><section class="contact-details clearfix l_padding"><div class="contact-blocks"><h1>Contato</h1><div class="contact-details-address">Rua Aviador Gomes Ribeiro, nº 4-76<br>Bauru - SP<br></div><div class="contact-details-phone"><p>(14) 3235-7879</p><!-- <p>(14) 99644-7070</p>
			<p>(14) 98821-6060</p>
			<p>(14) 99111-8390</p>
			<p>(14) 98224-8090</p> --></div><div class="contact-details-email"><a href="mailto:contato@prontoconcursos.com.br">contato@prontoconcursos.com.br</a></div></div></section>